<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Book</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container-fluid background-overlay m-0">
        <div class="row justify-content-center align-items-center min-vh-100 d-flex">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Aggiungi Nuovo Libro</h2>
                        <form method="POST" th:action="@{/addBook}" th:object="${book}" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">Titolo</label>
                                <input required type="text" class="form-control" id="title" th:field="${book.title}" />
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label">Anno di pubblicazione</label>
                                <input required type="text" class="form-control" id="year" th:field="${book.year_publication}" />
                            </div>
                            <div class="mb-3">
                                <label for="code" class="form-label">Codice</label>
                                <input required type="number" class="form-control" id="code" th:field="${book.code}" />
                            </div>
                            <!-- <div class="mb-3">
                                    <label for="images" class="form-label">Immagini del libro</label>
                                    <input type="file" class="form-control" id="images" multiple accept="image/*" th:field="${book.covers}"/>
                                </div> -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Aggiungi Libro</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>