<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Homepage - SiwBooks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/common.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body>

    <header th:replace="~{fragments/header :: header}"></header>
    

    <div class="main-content container-fluid background-overlay p-2 min-vh-100" >
        <div class="row d-flex justify-content-start m-0">

            <div th:if="${books.isEmpty()}">Non ci sono Libri nel sistema</div>

            <div th:if="${showNotFound}">
                <script>
                    alert("Questo libro non è stato trovato.");
                </script>
            </div>

            <div th:each="book : ${books}" class="col-4 p-2">
                <div class="card rounded-4" style="background-color: rgba(255,255,255,0); border: none; box-shadow: none;">
                    <div th:if="${not #lists.isEmpty(book.covers)}" class="d-flex justify-content-center">
                        <img th:src="@{${book.covers[0].path}}" class="card-img-top mt-2 rounded-4" alt="Copertina libro" style="object-fit: cover; width: 200px; height: 300px;"/>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center"> 
                            <a th:href="@{'/book/' + ${book.id}}" class="btn btn-xl" th:text="${book.title}"></a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <form th:if="${user != null and user.role == 'ADMIN'}"
                                th:action="@{'/book/' + ${book.id} + '/remove'}" method="POST" class="m-0">
                                <button type="submit" class="btn btn-sm">Rimuovi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>

</body>

</html>